{#{% extends 'temp/usercss.html' %}#}
{#{% block base %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#</head>#}
{#<body>#}
{#<center>#}
{#	<h2>image</h2>#}
{#	<form method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#		<tr>#}
{#				<td></td>#}
{#				<td>Image</td>#}
{#				<td><input type="file" name="image"></td>#}
{#		</tr>#}
{#			<br>#}
{#			<br>#}
{#			<tr>#}
{#				<td></td>#}
{#				<td><input type="submit" value="upload"></td>#}
{#			</tr>#}
{#	</form>#}
{#</center>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'temp/usercss.html' %}
{% block base1 %}
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="central-meta">
            <textarea rows="2" placeholder="Write a caption" name="caption"></textarea>
            <div class="attachments">
                <ul>
                    <li>
                        <i class="fa fa-image"></i>
                        <label class="fileContainer">
                            <input type="file" name="photo">
                        </label>
                    </li>
                    <li>
                        <button type="submit">Post</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock %}
